src/main/resources/wsdl/ServicioProveedores.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://sw.dw.umg.edu/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ServicioProveedoresService" targetNamespace="http://sw.dw.umg.edu/">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://sw.dw.umg.edu/" elementFormDefault="unqualified" targetNamespace="http://sw.dw.umg.edu/" version="1.0">

      <xs:element name="PeticionConsultaPaciente" type="tns:peticionConsultaPaciente"/>

      <xs:element name="consultarCoberturaPaciente" type="tns:consultarCoberturaPaciente"/>

      <xs:element name="consultarCoberturaPacienteResponse" type="tns:consultarCoberturaPacienteResponse"/>

      <xs:element name="obtenerProveedores" type="tns:obtenerProveedores"/>

      <xs:element name="obtenerProveedoresResponse" type="tns:obtenerProveedoresResponse"/>

      <xs:complexType name="consultarCoberturaPaciente">
        <xs:sequence>
          <xs:element minOccurs="0" name="peticionConsultaPaciente" type="tns:peticionConsultaPaciente"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="peticionConsultaPaciente">
        <xs:sequence>
          <xs:element name="nitProveedor" type="xs:string"/>
          <xs:element name="noPoliza" type="xs:string"/>
          <xs:element name="fechaNacimientoPaciente" type="xs:date"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="consultarCoberturaPacienteResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:respuestaConsultaCobertura"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="respuestaConsultaCobertura">
        <xs:complexContent>
          <xs:extension base="tns:respuestaBase">
            <xs:sequence>
              <xs:element minOccurs="0" name="consultaCobertura" type="tns:consultaCobertura"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType abstract="true" name="respuestaBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="estado" type="xs:string"/>
          <xs:element minOccurs="0" name="mensaje" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="consultaCobertura">
        <xs:sequence>
          <xs:element minOccurs="0" name="autorizacion" type="xs:string"/>
          <xs:element minOccurs="0" name="fechaConsulta" type="xs:dateTime"/>
          <xs:element name="id" type="xs:int"/>
          <xs:element minOccurs="0" name="nitProveedor" type="xs:string"/>
          <xs:element minOccurs="0" name="poliza" type="tns:poliza"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="poliza">
        <xs:sequence>
          <xs:element name="activa" type="xs:int"/>
          <xs:element minOccurs="0" name="apellidos" type="xs:string"/>
          <xs:element minOccurs="0" name="fechaEmision" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fechaVencimiento" type="xs:dateTime"/>
          <xs:element name="id" type="xs:int"/>
          <xs:element name="monto" type="xs:double"/>
          <xs:element name="noPagos" type="xs:int"/>
          <xs:element minOccurs="0" name="noPoliza" type="xs:string"/>
          <xs:element minOccurs="0" name="nombres" type="xs:string"/>
          <xs:element minOccurs="0" name="telefono" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="obtenerProveedores">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="obtenerProveedoresResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:respuestaListadoProveedores"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="respuestaListadoProveedores">
        <xs:complexContent>
          <xs:extension base="tns:respuestaBase">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="proveedores" nillable="true" type="tns:proveedor"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="proveedor">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
          <xs:element minOccurs="0" name="nit" type="xs:string"/>
          <xs:element minOccurs="0" name="nombre" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

    </xs:schema>
  </wsdl:types>
  <wsdl:message name="obtenerProveedoresResponse">
    <wsdl:part element="tns:obtenerProveedoresResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarCoberturaPacienteResponse">
    <wsdl:part element="tns:consultarCoberturaPacienteResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarCoberturaPaciente">
    <wsdl:part element="tns:consultarCoberturaPaciente" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerProveedores">
    <wsdl:part element="tns:obtenerProveedores" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ServicioProveedores">
    <wsdl:operation name="consultarCoberturaPaciente">
      <wsdl:input message="tns:consultarCoberturaPaciente" name="consultarCoberturaPaciente">
      </wsdl:input>
      <wsdl:output message="tns:consultarCoberturaPacienteResponse" name="consultarCoberturaPacienteResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerProveedores">
      <wsdl:input message="tns:obtenerProveedores" name="obtenerProveedores">
      </wsdl:input>
      <wsdl:output message="tns:obtenerProveedoresResponse" name="obtenerProveedoresResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioProveedoresServiceSoapBinding" type="tns:ServicioProveedores">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="consultarCoberturaPaciente">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="consultarCoberturaPaciente">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultarCoberturaPacienteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerProveedores">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obtenerProveedores">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerProveedoresResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioProveedoresService">
    <wsdl:port binding="tns:ServicioProveedoresServiceSoapBinding" name="ServicioProveedoresPort">
      <soap:address location="http://localhost:8080/aseguradora/webservices/ServicioProveedores"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>